<md-dialog class="md-dialog--padded address-dialog">
	<md-dialog-content ng-show="vm.addressBook">
		<h2 class="md-headline">Pick from address book</h2>

		<ul class="layout-gt-sm-row layout-wrap unstyled-list">
			<li class="saved-address" ng-repeat="address in vm.addressBook">
				<div class="saved-address__container layout-margin" ng-click="vm.chooseFromAddressBook(address)" md-ink-ripple>
					<address-summary address="address"></address-summary>
				</div>
			</li>
		</ul>
	</md-dialog-content>

	<md-dialog-content ng-hide="vm.addressBook">
		<h2 class="md-headline">Edit address</h2>
		<form name="vm.addressLookup" ng-submit="vm.lookupAddress($event)" ng-hide="vm.hideLookup">
			<div class="layout-row layout-align-start-end">
				<md-input-container md-no-float>
					<label>Postcode</label>
					<input ng-model="vm.postcode" />
				</md-input-container>
				<md-button class="md-primary md-raised" style="margin-bottom: 0" type="submit">find address</md-button>
			</div>
			<md-select ng-model="vm.selectedAddress" ng-change="vm.addressSelected()" ng-show="vm.addresses.length" placeholder="Select address">
				<md-option ng-repeat="address in vm.addresses track by address[0]" ng-value="address">{{ ::address[0] }}</md-option>
			</md-select>
			<div>
				<br />
				<a href="#" class="secondary-link" ng-click="vm.hideLookup = true">or enter address manually</a>
			</div>
		</form>

		<form name="vm.addressForm" ng-submit="vm.save($event)" ng-show="vm.hideLookup" style="overflow: hidden;">
			<md class="address-dialog__actions">
				<md-button type="button" class="md-icon-button" ng-click="vm.hideLookup = false;" aria-label="Look up another address">
					<md-icon md-svg-src="assets/images/icons/search.svg">
						<md-tooltip>Look up another address</md-tooltip>
					</md-icon>
				</md-button>
				<md-button type="button" class="md-icon-button" ng-hide="vm.isAddressBook" ng-click="vm.showAddressBook()" aria-label="Choose from address book">
					<md-icon md-svg-src="assets/images/icons/address-book.svg">
						<md-tooltip>Choose from address book</md-tooltip>
					</md-icon>
				</md-button>
			</md>

			<div class="layout-row">
				<md-input-container class="flex-gt-sm-50">
					<label>Name</label>
					<input name="fullname" ng-model="vm.address.name" required />
				</md-input-container>
			</div>

			<md-input-container ng-repeat="extraField in ::vm.extraFields">
				<label ng-bind="extraField.label"></label>
				<input type="{{ ::extraField.type || 'text' }}" ng-model="vm.address[extraField.field]" ng-requited="extraField.required" />
			</md-input-container>

			<md-input-container>
				<label>Company Name</label>
				<input name="company" ng-model="vm.address.company" required />
			</md-input-container>
			<md-input-container>
				<label>Address</label>
				<input name="address1" ng-model="vm.address.line_1" required />
			</md-input-container>
			<md-input-container>
				<label>Address line 2</label>
				<input name="address2" ng-model="vm.address.line_2" />
			</md-input-container>
			<md-input-container ng-show="vm.address.line_2 || vm.address.line_3">
				<label>Address line 3</label>
				<input name="address3" ng-model="vm.address.line_3" />
			</md-input-container>
			<div class="layout-gt-sm-row">
				<md-input-container class="flex">
					<label>City</label>
					<input name="city" ng-model="vm.address.city" required />
				</md-input-container>
				<md-input-container class="flex">
					<label>County</label>
					<input name="county" ng-model="vm.address.region" />
				</md-input-container>
				<md-input-container class="flex">
					<label>Postcode</label>
					<input name="postcode" ng-model="vm.address.postcode" required />
				</md-input-container>
			</div>
			<div ng-show="vm.isAddressBook">
				<md-checkbox class="md-primary" ng-model="vm.isDefault" ng-change="vm.changeDefault()">Default address</md-checkbox>
			</div>
		</form>
	</md-dialog-content>
	<div class="md-actions" ng-show="vm.hideLookup && !vm.addressBook">
		<md-button class="md-primary" ng-click="vm.cancel()">Cancel</md-button>
		<md-button class="md-primary md-raised" ng-click="vm.save()">Save</md-button>
	</div>
</md-dialog>
