<div class="basket-toast md-whiteframe md-whiteframe-z3">
	<img class="product-thumb__image" ng-src="{{ ::vm.product.thumbnail_image_url }}" height="180" alt="{{ ::vm.product.name }}" />
	<p class="basket-toast__message md-body-1"><span ng-bind="::vm.quantity"></span> item<span ng-if="::vm.quantity !== 1">s</span> added</p>
	<div class="basket-toast__action md-accent-panel layout-row layout-align-center">
		<md-button class="md-primary md-raised" ng-href="basket/">Basket &amp; Checkout</md-button>
	</div>
</div>