<footer class="site-footer hide-print" ng-cloak>
	<div class="site-footer__inner">
		<ul class="site-footer__links unstyled-list layout-padding layout-row layout-align-center-start">
			<li class="flex flex-md-33 flex-gt-md-25">
				<h3 class="md-subhead-2">Get the app</h3>
				<ul class="unstyled-list site-footer__app-links">
					<li><a href="orderable.apk" download>Android</a></li>
					<li>iPhone / iPad</li>
				</ul>
			</li>
			<li class="flex flex-md-33 flex-gt-md-25">
				<h3 class="md-subhead-2">My account</h3>
				<ul class="unstyled-list">
					<li><a href="account/orders/">Orders</a></li>
					<li><a href="account/settings/">Loyalty numbers</a></li>
				</ul>
			</li>
			<li class="flex flex-md-33 flex-gt-md-25">
				<h3 class="md-subhead-2">Contact us</h3>
				<ul class="unstyled-list">
					<li><a href="mailto:support@bigwednesday.io">Email</a></li>
				</ul>
			</li>
		</ul>
		<hr class="layout-margin" />
		<ul class="site-footer__social unstyled-list layout-row layout-align-center-center">
			<!-- <li class="layout-margin">
				<a href="#">
					<img src="https://www.gstatic.com/sameday/static/images/media_link_google_plus.png">
				</a>
			</li> -->
			<li class="layout-margin">
				<a href="https://twitter.com/orderableco">
					<img src="https://www.gstatic.com/sameday/static/images/media_link_twitter.png">
				</a>
			</li>
			<li class="layout-margin">
				<a href="https://www.facebook.com/Orderable-1081256848551507/">
					<img src="https://www.gstatic.com/sameday/static/images/media_link_facebook.png">
				</a>
			</li>
		</ul>
		<ul class="site-footer__legal unstyled-list layout-row layout-align-center-center">
			<li class="layout-margin">
				&copy;2016 Orderable
			</li>
			<li class="layout-margin">
				<a href="/">Home</a>
			</li>
			<li class="layout-margin">
				<a href="http://bigwednesday.io/privacy/">Privacy</a>
			</li>
			<li class="layout-margin">
				<a href="http://bigwednesday.io/terms/">Terms</a>
			</li>
			<li class="layout-margin">
				<a href="http://bigwednesday.io/about/">About Big Wednesday IO</a>
			</li>
		</ul>
	</div>
</footer>
