<md-dialog style="border-radius: 24px; width: 87.5%; max-width: 840px">
	<md-dialog-content class="postcode-overlay">
		<div class="postcode-overlay__header">
			<img class="postcode-overlay__image hide-sm" src="assets/images/orderable-logo.svg" width="120" height="120" style="margin-top: 10px;" alt />
			<h2 class="md-headline postcode-overlay__title" ng-hide="vm.postcodeForm.$submitted && vm.unavailable || vm.available">Welcome to <span ng-bind="::vm.brand"></span></h2>
		</div>
		<form class="postcode-form" name="vm.postcodeForm" ng-submit="vm.choosePostcode($event)" ng-hide="vm.postcodeForm.$submitted && (vm.available || vm.unavailable)">
			<p class="md-subhead">Enter your postcode to find suppliers in your area</p>
			<div class="form-row">
				<md-input-container>
					<label>Postcode</label>
					<input ng-model="vm.newPostcode" placeholder="e.g. EC2Y 9AR" required pattern="[A-Za-z]{1,2}[0-9Rr][0-9A-Za-z]? [0-9][ABD-HJLNP-UW-Zabd-hjlnp-uw-z]{2}" />
				</md-input-container>
				<md-button type="submit" class="md-primary md-raised">Submit</md-button>
			</div>
		</form>

		<div ng-show="vm.postcodeForm.$submitted && vm.unavailable">
			<p class="md-subhead">Looks like there aren't any suppliers in <strong class="postcode" ng-bind="vm.newPostcode"></strong> yet</p>
			<div class="actions">
				<md-button class="md-primary md-raised" ng-click="vm.resetForm()">
					<span>Try another address</span>
				</md-button>
				<md-button class="md-primary link-button">
					<md-icon md-svg-src="assets/images/icons/location.svg"></md-icon>
					<span>Let me know when there are suppliers in my area</span>
				</md-button>
			</div>
		</div>

		<div ng-show="vm.available">
			<p class="md-headline postcode-overlay__title" style="margin-bottom: 20px;">Terrific! There are suppliers for<br /><strong class="postcode" ng-bind="vm.postcode"></strong></p>
			<md-button class="md-primary md-raised" ng-click="vm.startShopping()">Start shopping</md-button>
		</div>

	</md-dialog-content>
</md-dialog>
