<a class="product-thumb__link" ng-href="product/{{ ::vm.product.id }}/">
	<div class="product-thumb__info">
		<img class="product-thumb__image" ng-src="{{ ::vm.product.thumbnail_image_url }}" height="180" alt="{{ ::vm.product.name }}" />
		<div class="product-thumb__title">
			<h3 class="product-thumb__name md-body-1" ng-bind="::vm.product.name"></h3>
			<span class="product-thumb__name--spacer">&nbsp;</span>
			<div class="product-sizing" ng-show="::vm.product.pack_size || vm.product.unit_size"><!--
			/--><span ng-show="::vm.product.pack_size" ng-bind="::vm.product.pack_size"></span><!--
			/--><span class="product-sizing__multiples" ng-show="::vm.product.pack_size && vm.product.unit_size">&times;</span><!--
			/--><span ng-show="::vm.product.unit_size" ng-bind="::vm.product.unit_size"></span><!--
		/--></div>
		</div>
	</div>
	<div class="product-thumb__actions">
		<span class="product-thumb__price md-body-2" price product="vm.product"></span>
		<md-icon ng-if="::vm.basket && vm.product.in_stock === false" class="product-thumb__stock md-warn md-hue-3" md-svg-src="assets/images/icons/error-outline.svg">
			<md-tooltip>Out of stock</md-tooltip>
		</md-icon>
		<md-button ng-if="::vm.basket && vm.product.in_stock !== false" ng-show="vm.quantity === 0" ng-click="vm.addToBasket($event, 1)" class="md-icon-button product-thumb__add-button" aria-label="Add {{ ::vm.product.name }} to basket">
			<md-icon md-svg-src="assets/images/icons/cart-add.svg"></md-icon>
		</md-button>
		<div ng-if="::vm.basket && vm.product.in_stock !== false" ng-click="vm.changeQuantity($event, 0)" ng-hide="vm.quantity === 0" class="product-thumb__quantity-wrapper layout-row layout-align-center-center">
			<md-button class="md-icon-button md-icon-button--quantity" ng-click="vm.changeQuantity($event, -1)" aria-label="Remove 1 from basket">
				<md-icon md-svg-src="assets/images/icons/minus-circle.svg"></md-icon>
			</md-button>
			<input type="number" class="product-thumb__quantity" ng-model="vm.quantity" ng-change="vm.quantityChanged()" ng-class="{'product-thumb__quantity--large': (vm.quantity + '').length}"></span>
			<md-button class="md-icon-button md-icon-button--quantity" ng-click="vm.changeQuantity($event, +1)" aria-label="Add 1 to basket">
				<md-icon md-svg-src="assets/images/icons/plus-circle.svg"></md-icon>
			</md-button>
		</div>
	</div>
</a>
