<a class="product-thumb__link with-hover-action" ng-class="{'is-disabled': vm.quantity === 0}" ng-href="#" ng-click="vm.replenishItem()">
	<supplier-logo supplier="::vm.supplier" size="32"></supplier-logo>
	<div class="product-thumb--replenishment__include hover-action" ng-click="vm.trapClick($event)">
		<md-checkbox class="md-accent md-hue-3" ng-click="vm.toggleInclude()" ng-checked="vm.quantity !== 0" aria-label="Include in {{ ::vm.product.name }} replenishment"></md-checkbox>
	</div>
	<div class="product-thumb__info">
		<img class="product-thumb__image" ng-src="{{ ::vm.product.thumbnail_image_url }}" height="180" alt="{{ ::vm.product.name }}" />
		<div class="product-thumb__title">
			<h3 class="product-thumb__name md-body-1" ng-bind="::vm.product.name"></h3>
			<div class="product-thumb__sizing" ng-show="::vm.product.pack_size || vm.product.unit_size"><!--
			/--><span ng-show="::vm.product.pack_size" ng-bind="::vm.product.pack_size"></span><!--
			/--><span class="product-thumb__sizing__multiples" ng-show="::vm.product.pack_size && vm.product.unit_size">&times;</span><!--
			/--><span ng-show="::vm.product.unit_size" ng-bind="::vm.product.unit_size"></span><!--
		/--></div>
		</div>
	</div>
	<div class="product-thumb__actions">
		<span class="product-thumb__price md-body-2" price product="vm.product"></span>
		<md-icon ng-if="::vm.product.in_stock === false" class="product-thumb__stock md-warn md-hue-3" md-svg-src="assets/images/icons/error-outline.svg">
			<md-tooltip>Out of stock</md-tooltip>
		</md-icon>
		<div ng-if="::vm.product.in_stock !== false" class="product-thumb__quantity-wrapper layout-row layout-align-center-center" ng-click="vm.trapClick($event)">
			<md-button class="md-icon-button md-icon-button--quantity hover-action" ng-click="vm.changeQuantity(-1)" ng-disabled="vm.quantity < 1" aria-label="decrease quantity">
				<md-icon md-svg-src="assets/images/icons/minus-circle.svg"></md-icon>
			</md-button>
			<span class="product-thumb__quantity" ng-bind="vm.quantity"></span>
			<md-button class="md-icon-button md-icon-button--quantity hover-action" ng-click="vm.changeQuantity(+1)" aria-label="increase quantity">
				<md-icon md-svg-src="assets/images/icons/plus-circle.svg"></md-icon>
			</md-button>
		</div>
	</div>
</a>
