<div class="replenishment" ng-class="{'is-checked': vm.checked}">
	<div ng-click="vm.checked = !vm.checked" style="position: absolute; top: 10px; left: 10px; z-index: 9; outline: none; -webkit-perspective: 500px;">
		<div supplier-logo class="replenishment__logo" supplier="::vm.supplier" size="40"></div>
		<div class="replenishment__check-mark">
			<span>✓</span>
		</div>
	</div>

	<md-button class="replenishment__button md-whiteframe md-whiteframe-z1 layout-row layout-align-space-between-center with-hover-action" ng-disabled="vm.quantity === 0" ng-click="vm.replenishItem()">
		<div class="replenishment__logo--placeholder"></div>
		<div class="replenishment__title flex">
			<h3 class="replenishment__name md-body-1" ng-bind="::vm.product.name"></h3>
			<div class="product-sizing" ng-show="::vm.product.pack_size || vm.product.unit_size"><!--
			/--><span ng-show="::vm.product.pack_size" ng-bind="::vm.product.pack_size"></span><!--
			/--><span class="product-sizing__multiples" ng-show="::vm.product.pack_size && vm.product.unit_size">&times;</span><!--
			/--><span ng-show="::vm.product.unit_size" ng-bind="::vm.product.unit_size"></span><!--
		/--></div>
		</div>
	</md-button>

	<div class="replenishment__quantity-wrapper with-hover-action--sibling layout-row layout-align-center-center" ng-click="vm.trapClick($event)">
		<md-button class="md-icon-button md-icon-button--quantity hover-action" ng-click="vm.changeQuantity(-1)" ng-disabled="vm.quantity < 1" aria-label="decrease quantity">
			<md-icon md-svg-src="assets/images/icons/minus-circle.svg"></md-icon>
		</md-button>
		<span class="replenishment__quantity" ng-bind="vm.quantity"></span>
		<md-button class="md-icon-button md-icon-button--quantity hover-action" ng-click="vm.changeQuantity(+1)" aria-label="increase quantity">
			<md-icon md-svg-src="assets/images/icons/plus-circle.svg"></md-icon>
		</md-button>
	</div>
</div>