<!doctype html>
<html lang="en-GB" ng-app="app">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<title>Orderable by Big Wednesday IO</title>
		<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1" />

		<base id="base" href="/" />

		<script>
			var fileBase = '/';
			window.isApp = !document.URL.match(/^https?:\//);

			if (window.isApp) {
				fileBase = document.URL.replace(/.+:\/+(.+)/, function(match, $1) {
					return '/' + $1;
				});
			}

			document.getElementById('base').setAttribute('href', fileBase);
		</script>

		<link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png" />
		<link rel="favicon" href="favicon.ico" />

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
		<!-- build:css assets/css/site.css -->
		<!-- bower:css -->
		<link rel="stylesheet" href="assets/vendor/angular-material/angular-material.css" />
		<!-- endbower -->
		<link rel="stylesheet" href="assets/css/app.css" />
		<!-- endbuild -->

		<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
		<link rel="apple-touch-icon" href="apple-touch-icon-precomposed.png">

		<script src="phonegap.js"></script>
	</head>
	<body class="layout-column">
		<div class="event-wrapper flex layout-column">
			<md-toolbar class="md-accent layout-row hide-sm hide-md" ng-if="$mdMedia('gt-md')">
				<div class="md-toolbar-tools">
					<h2>
						<a href="/" class="logo">
							<span class="logo__icon">
								<img src="assets/images/orderable-logo.svg" height="28" width="30" alt="Orderable logo" />
							</span>
							<span class="logo__text">orderable</span>
						</a>
					</h2>
					<search-box></search-box>
					<span class="flex"></span>
				</div>
			</md-toolbar>
			<md-toolbar class="md-toolbar-secondary layout-row md-whiteframe-z1 hide-sm hide-md" ng-if="$mdMedia('gt-md')" ng-controller="MenuController as vm">
				<div class="md-toolbar-tools layout-margin">
					<nav class="layout-row">
						<h2 class="layout-column layout-align-center-center" style="margin-right: 8px;">Eating &amp; Drinking Out</h2>
						<div class="suppliers-dropdown" ng-class="{'is-open': vm.suppliersAreShown}" ng-mouseleave="vm.hideSuppliers(250)">
							<a href="#" class="suppliers-dropdown__button" ng-click="vm.toggleShowSuppliers()">
								<span>Suppliers</span>
								<md-icon class="open-indicator" md-svg-src="assets/images/icons/chevron-down.svg"></md-icon>
							</a>
							<md-content class="sub-nav" ng-mouseenter="vm.showSuppliers()">
								<ul class="sub-nav__suppliers unstyled-list">
									<li class="sub-nav__supplier" ng-repeat="supplier in vm.suppliers">
										<a ng-href="{{ ::vm.getUrlForSupplier(supplier) }}" class="sub-nav__supplier__link">
											<img ng-src="{{ ::vm.getBrandImageForSupplier(supplier) }}" class="sub-nav__supplier__image" height="60" alt="{{}}" />
										</a>
									</li>
								</ul>
							</md-content>
						</div>
						<span class="toolbar-divider"></span>
						<ul class="primary-nav unstyled-list">
							<li ng-repeat="category in ::vm.categories track by category.name">
								<a ng-href="{{ ::category.href }}" ng-bind="::category.name"></a>
								<md-content class="sub-nav" ng-if="::category.links.length">
									<div class="sub-nav__header" style="{{ vm.menuColours[$index] ? 'background: ' + vm.menuColours[$index] + '; color: white;' : '' }}">
										<h3 ng-bind="::category.name" ng-class="{'with-view-all': category.href}"></h3>
										<a ng-href="{{ ::category.href }}" ng-if="::category.href">View all&nbsp;›</a>
									</div>
									<div class="sub-nav__links">
										<ul class="sub-nav__section" ng-repeat="subcat in ::category.links track by subcat.href">
											<li>
												<h4 class="sub-nav__section__heading"><a ng-href="{{ ::subcat.href }}" ng-bind="::subcat.name + '&nbsp;›'"></a></h4>
											</li>
											<li ng-repeat="link in ::subcat.links track by link.href">
												<a ng-href="{{ ::link.href }}" ng-bind="::link.name"></a>
											</li>
										</ul>
									</div>
								</md-content>
							</li>
						</ul>
					</nav>
					<span class="flex"></span>
					<nav class="account-nav">
						<a href="#">Account</a>
					</nav>
					<div class="postcode-wrapper" ng-controller="PostcodeController as vm">
						<md-button class="postcode-button" ng-click="vm.togglePostcodeForm($event)" aria-label="Show postcode form">
							<md-icon md-svg-src="assets/images/icons/location.svg"></md-icon>
							<span ng-bind="vm.postcode"></span>
						</md-button>
						<div class="action-window md-whiteframe-11dp" ng-show="vm.showPostcodeForm" ng-include="'views/partials/postcode-form.html'" ng-cloak></div>
					</div>
					<span class="toolbar-divider"></span>
					<md-button class="md-icon-button basket-button" ng-href="basket/" aria-label="View basket" basket-button>
						<span class="basket-button__count" basket-count ng-cloak></span>
						<md-icon class="basket-button__icon" md-svg-src="assets/images/icons/cart.svg"></md-icon>
					</md-button>
				</div>
				<loading-indicator></loading-indicator>
			</md-toolbar>

			<md-toolbar class="md-whiteframe-z2 layout-row hide-gt-md" ng-if="!$mdMedia('gt-md')" ng-controller="MenuController as vm">
				<div class="md-toolbar-tools layout-margin">
					<md-button class="md-icon-button" aria-label="Menu" ng-click="vm.toggleMenu()">
						<md-icon md-svg-src="assets/images/icons/menu.svg"></md-icon>
					</md-button>
					<search-box class="material-search-wrapper"></search-box>
					<md-button class="md-icon-button basket-button" ng-href="basket/" aria-label="View basket">
						<span class="basket-button__count" basket-count ng-cloak></span>
						<md-icon class="basket-button__icon" md-svg-src="assets/images/icons/cart.svg"></md-icon>
					</md-button>
				</div>
				<loading-indicator></loading-indicator>
			</md-toolbar>

			<md-content class="content-body flex" ui-view></md-content>

			<md-sidenav class="md-sidenav-left md-whiteframe-z2 hide-gt-md" md-component-id="menu" ng-cloak>
				<div ng-controller="MenuController as vm" ng-if="!$mdMedia('gt-md')">
					<md-toolbar class="layout-row">
						<div class="md-toolbar-tools layout-margin">
							<md-button class="md-icon-button" aria-label="Menu" ng-click="vm.toggleMenu()">
								<md-icon md-svg-src="assets/images/icons/menu.svg"></md-icon>
							</md-button>
							<h2 class="layout-row">
								<md-icon md-svg-src="assets/images/orderable-logo.svg"></md-icon>
								<span style="margin-left: 6px;" ng-bind="::vm.brand"></span>
							</h2>
						</div>
					</md-toolbar>
					<md-content>
						<md-button class="menu-button">Suppliers</md-button>
						<hr />
						<div ng-repeat="category in ::vm.categories track by category.name" class="menu-button-wrapper">
							<md-button class="menu-button md-default-theme" ng-click="vm.openMenu = (vm.openMenu === category.name) ? '' : category.name" ng-class="{'is-open': vm.openMenu === category.name}" aria-label="{{ ::category.name }}">
								<span ng-bind="::category.name"></span>
								<span class="flex"></span>
								<md-icon class="open-indicator" md-svg-src="/assets/images/icons/chevron-down.svg"></md-icon>
							</md-button>

							<md-list ng-show="vm.openMenu === category.name" class="animate-slide">
								<md-list-item ng-repeat="subcat in ::category.links track by subcat.href">
									<md-button class="menu-link" ng-href="{{ ::subcat.href }}" ng-bind="::subcat.name" aria-label="::subcat.name"></md-button>
								</md-list-item>
								<md-list-item ng-if="::category.href">
									<md-button class="menu-link" ng-href="{{ ::category.href }}" ng-bind="::'View all ' + category.name + '&nbsp;›'" aria-label="View all {{ ::category.name }}">
										<span></span>
									</md-button>
								</md-list-item>
							</md-list>
						</div>
						<hr />
						<md-button class="menu-link" ng-href="#">Account</md-button>
						<div ng-controller="PostcodeController as vm">
							<md-button aria-label="Change location" ng-click="vm.togglePostcodeForm($event)">
								<md-icon md-svg-src="assets/images/icons/location.svg" style="height: 18px; width: 18px"></md-icon>
								<span ng-bind="vm.postcode"></span>
							</md-button>
							<div class="layout-padding" ng-show="vm.showPostcodeForm" ng-include="'views/partials/postcode-form.html'" ng-cloak></div>
						</div>
					</md-content>
				</div>
			</md-sidenav>
		</div>


		<!-- build:js assets/js/site.js -->
		<!-- bower:js -->
		<script src="assets/vendor/angular/angular.js"></script>
		<script src="assets/vendor/angular-animate/angular-animate.js"></script>
		<script src="assets/vendor/angular-aria/angular-aria.js"></script>
		<script src="assets/vendor/angular-material/angular-material.js"></script>
		<script src="assets/vendor/angular-mocks/angular-mocks.js"></script>
		<script src="assets/vendor/angular-ui-router/release/angular-ui-router.js"></script>
		<script src="assets/vendor/lodash/lodash.js"></script>
		<script src="assets/vendor/fastclick/lib/fastclick.js"></script>
		<!-- endbower -->
		<script src="assets/js/app.js"></script>
		<!-- endbuild -->
	</body>
</html>