<!doctype html>
<html lang="en-GB" ng-app="app">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<title>Crateful by Big Wednesday IO</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<base href="/" />

		<link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png" />
		<link rel="favicon" href="favicon.ico" />

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
		<!-- bower:css -->
		<link rel="stylesheet" href="assets/vendor/angular-material/angular-material.css" />
		<!-- endbower -->
		<link rel="stylesheet" href="assets/css/app.css" />
	</head>
	<body layout="column">
		<header ng-controller="MenuController as vm">
			<md-toolbar layout="row" class="md-accent hide-sm hide-md">
				<div class="md-toolbar-tools">
					<h2 ng-bind="::vm.brand"></h2>
					<div class="material-search-wrapper">
						<md-icon md-svg-src="assets/images/icons/search.svg"></md-icon>
						<input type="search" class="material-search" placeholder="Search for products or categories" aria-label="Search for products or categories" />
					</div>
					<span flex></span>
				</div>
			</md-toolbar>
			<md-toolbar layout="row" class="md-toolbar-secondary md-whiteframe-z1 hide-sm hide-md">
				<div class="md-toolbar-tools" layout-margin>
					<h1>
						<md-icon md-svg-src="assets/images/icons/package-variant.svg"></md-icon>
						<span ng-bind="::vm.brand"></span>
					</h1>
					<nav layout="row">
						<md-button>
							Suppliers
						</md-button>
						<span class="toolbar-divider"></span>
						<ul class="primary-nav">
							<li ng-repeat="category in ::vm.categories track by category.name">
								<a ng-href="{{ ::category.href }}" ng-bind="::category.name"></a>
								<md-content class="sub-nav" ng-if="::category.links.length">
									<div class="sub-nav__header">
										<h3 ng-bind="::category.name" ng-class="{'with-view-all': category.href}"></h3>
										<a ng-href="{{ ::category.href }}" ng-if="::category.href">View all&nbsp;›</a>
									</div>
									<div class="sub-nav__links">
										<ul class="sub-nav__section" ng-repeat="subcat in ::category.links track by subcat.href">
											<li>
												<h4 class="sub-nav__section__heading"><a ng-href="{{ ::subcat.href }}" ng-bind="::subcat.name + '&nbsp;›'"></a></h4>
											</li>
											<li ng-repeat="link in ::subcat.links track by link.href">
												<a ng-href="{{ ::link.href }}" ng-bind="::link.name"></a>
											</li>
										</ul>
									</div>
								</md-content>
							</li>
						</ul>
					</nav>
					<span flex></span>
					<nav class="account-nav">
						<a href="#">Account</a>
						<a href="#">Help</a>
					</nav>
					<md-button>
						<md-icon md-svg-src="assets/images/icons/location.svg" style="height: 18px; width: 18px"></md-icon>
						<span>EC2Y 9AR</span>
					</md-button>
					<span class="toolbar-divider"></span>
					<md-button class="md-icon-button basket-button" ng-href="/basket/" aria-label="View basket">
						<span class="basket-button__count">5</span>
						<md-icon class="basket-button__icon" md-svg-src="assets/images/icons/cart.svg"></md-icon>
					</md-button>
				</div>
			</md-toolbar>

			<md-toolbar layout="row" class="md-whiteframe-z2 hide-gt-md">
				<div class="md-toolbar-tools" layout-margin>
					<md-button class="md-icon-button" aria-label="Menu" ng-click="vm.toggleMenu()">
						<md-icon md-svg-src="assets/images/icons/menu.svg"></md-icon>
					</md-button>
					<div class="material-search-wrapper">
						<md-icon md-svg-src="assets/images/icons/search.svg"></md-icon>
						<input type="search" class="material-search" placeholder="Search for products or categories" aria-label="Search for products or categories" />
					</div>
					<md-button class="md-icon-button basket-button" ng-href="/basket/" aria-label="View basket">
						<span class="basket-button__count">5</span>
						<md-icon class="basket-button__icon" md-svg-src="assets/images/icons/cart.svg"></md-icon>
					</md-button>
				</div>
			</md-toolbar>

			<md-sidenav class="md-sidenav-left md-whiteframe-z2 hide-gt-md" md-component-id="menu">
				<div ng-controller="MenuController as vm">
					<md-toolbar layout="row">
						<div class="md-toolbar-tools" layout-margin>
							<md-button class="md-icon-button" aria-label="Menu" ng-click="vm.toggleMenu()">
								<md-icon md-svg-src="assets/images/icons/menu.svg"></md-icon>
							</md-button>
							<h2>
								<md-icon md-svg-src="assets/images/icons/package-variant.svg"></md-icon>
								<span ng-bind="::vm.brand"></span>
							</h2>
						</div>
					</md-toolbar>
					<md-content>
						<md-button class="menu-button">Suppliers</md-button>
						<hr />
						<div ng-repeat="category in ::vm.categories track by category.name" class="menu-button-wrapper">
							<md-button class="menu-button md-default-theme" ng-click="vm.openMenu = (vm.openMenu === category.name) ? '' : category.name" ng-class="{'is-open': vm.openMenu === category.name}" aria-label="{{ ::category.name }}">
								<span ng-bind="::category.name"></span>
								<span flex></span>
								<md-icon class="open-indicator" md-svg-src="/assets/images/icons/chevron-down.svg"></md-icon>
							</md-button>

							<md-list ng-show="vm.openMenu === category.name" class="animate-slide">
								<md-list-item ng-repeat="subcat in ::category.links track by subcat.href">
									<md-button class="menu-link" ng-href="{{ ::subcat.href }}" ng-bind="::subcat.name" aria-label="::subcat.name"></md-button>
								</md-list-item>
								<md-list-item ng-if="::category.href">
									<md-button class="menu-link" ng-href="{{ ::category.href }}" ng-bind="::'View all ' + category.name + '&nbsp;›'" aria-label="View all {{ ::category.name }}">
										<span></span>
									</md-button>
								</md-list-item>
							</md-list>
						</div>
						<hr />
						<md-button class="menu-link" ng-href="#">Account</md-button>
						<md-button class="menu-link" ng-href="#">Help</md-button>
						<md-button>
							<md-icon md-svg-src="assets/images/icons/location.svg" style="height: 18px; width: 18px"></md-icon>
							<span>EC2Y 9AR</span>
						</md-button>
					</md-content>
				</div>
			</md-sidenav>
		</header>

		<div ui-view="pre-body"></div>
		<div ui-view="body" flex></div>

		<footer></footer>


		<!-- bower:js -->
		<script src="assets/vendor/angular/angular.js"></script>
		<script src="assets/vendor/angular-animate/angular-animate.js"></script>
		<script src="assets/vendor/angular-aria/angular-aria.js"></script>
		<script src="assets/vendor/angular-material/angular-material.js"></script>
		<script src="assets/vendor/angular-mocks/angular-mocks.js"></script>
		<script src="assets/vendor/angular-ui-router/release/angular-ui-router.js"></script>
		<!-- endbower -->
		<script src="/assets/js/app.js"></script>
	</body>
</html>