* {
	&,
	&::before,
	&::after {
		box-sizing: inherit;
	}
}

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: $md-accent;
	font-size: 14px;
}

[ui-view]:empty {
	display: none;
}

md-select + md-select {
	margin-left: 16px;
}

.link-button {
	text-transform: none;
}

hr {
	border: $divider;
	border-width: 0 0 1px;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	display: block;
}

.content-body {
	background: $md-accent;
}
