* {
	&,
	&::before,
	&::after {
		box-sizing: inherit;
	}
}

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: $md-accent;
	font-size: 14px;
}

[ui-view]:empty {
	display: none;
}

md-select + md-select {
	margin-left: 16px;
}

.link-button {
	text-transform: none;
	white-space: normal;
	line-height: 20px;
	padding-top: 6px;
	padding-bottom: 6px;
}

hr {
	border: $divider;
	border-width: 0 0 1px;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	display: block;
}

.content-body {
	background: $md-accent;
}

loading-indicator {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	height: 5px;
	opacity: .5;
}

a,
button,
[ng-click] {
	touch-action: manipulation;
}

[ng-cloak] {
	display: none;
}

.md-subhead-2 {
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
	text-transform: uppercase;
}

.md-accent-panel {
	background: $md-accent;
}

md-input-container[md-no-float] {
	padding-bottom: 2px;
}

h1, h2, h3, h4, h5, h6 {
	> a:hover {
		text-decoration: underline;
	}
}