.address-summary {
	font-size: 16px;
	line-height: 1.5;
}

.address-dialog {
	position: relative;

	&__actions {
		position: absolute;
		top: 10px;
		right: 10px;

		.md-button {
			margin: 0;
		}
	}
}