// Page-specific

.basket {
	background: white;
	margin: 0 auto 40px;

	@media (min-width: $bp-large) {
		margin-top: 20px;
	}

	&__actions {
		text-align: right;

		.md-button {
			display: block;
			margin: 0 0 8px auto;
		}

		.md-button + &__subtotal,
		&__subtotal + .md-button {
			margin-top: 16px;
		}
	}
}

// Not page-specific

.basket-button {
	position: relative;

	&__count {
		position: absolute;
		top: 5px;
		right: 5px;
		height: 18px;
		min-width: 18px;
		font-size: 11px;
		line-height: 18px;
		border-radius: 50%;
		background: $md-warn;
		color: $md-warn-text;
	}

	&__icon {
		height: 28px;
		width: 28px;
	}
}

$basket-animation-duration: .75s;

.basket-updated-0 {
	animation: pulseA $basket-animation-duration;
}

.basket-updated-1 {
	animation: pulseB $basket-animation-duration;
}

@keyframes pulseA {
	from {
		transform: scale3d(1, 1, 1) rotateX(0.1deg);
	}

	50% {
		transform: scale3d(1.10, 1.10, 1.10) rotateX(0.1deg);
	}

	to {
		transform: scale3d(1, 1, 1) rotateX(0.1deg);
	}
}

@keyframes pulseB {
	from {
		transform: scale3d(1, 1, 1) rotateX(0.1deg);
	}

	50% {
		transform: scale3d(1.10, 1.10, 1.10) rotateX(0.1deg);
	}

	to {
		transform: scale3d(1, 1, 1) rotateX(0.1deg);
	}
}
