.basket-button {
	position: relative;

	&__count {
		position: absolute;
		top: 5px;
		right: 5px;
		height: 18px;
		min-width: 18px;
		font-size: 11px;
		line-height: 19px;
		border-radius: 50%;
		background: $md-warn;
		color: $md-warn-text;
	}

	&__icon {
		height: 28px;
		width: 28px;
	}
}
