.delivery-calendar {
	position: absolute;
	top: 72px;
	left: 0;
	right: 0;
	max-width: 380px;
	z-index: 9;
	font-size: 16px;

	&__header {
		padding: 4px 4px 0;
		margin-bottom: 16px;
		border-bottom: $divider;
		overflow: auto;
	}

	&__overflow {
		white-space: nowrap;
		text-align: center;
		overflow: visible;
		position: relative;
	}

	&__options {
		padding: 0 8px;
	}
}