.facets {
	position: fixed;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 46px;
	padding: 12px 12px 24px;
	z-index: 999;

	@media (min-width: $bp-medium) {
		position: static;
		width: 220px;
		padding: 12px;
		margin-bottom: 40px;
		z-index: initial;
	}

	&::after {
		content: '';
		display: block;
		position: fixed;
		bottom: 46px;
		left: 10px;
		right: 10px;
		background: linear-gradient(to bottom, transparent, white);
		height: 36px;

		@media (min-width: $bp-medium) {
			content: none;
		}
	}

	&__section {
		& + & {
			padding-top: 12px;
			border-top: $divider;
			margin-top: 12px;
		}
	}

	&__heading {
		margin: 0;
		text-transform: uppercase;
		font-weight: 600;
	}

	&__clear {
		font-size: 12px;
		color: rgba(0, 0, 0, 0.54);

		&:hover {
			text-decoration: underline;
		}
	}

	&__heading,
	&__clear {
		line-height: 18px;
	}

	&__values {
		margin: 2px 0 0;
	}

	&__value {
		display: block;
		padding: 2px 0;
		line-height: 16px;
		color: rgba(0, 0, 0, .54);

		&:hover {
			text-decoration: underline;
		}

		&--active {
			font-weight: 500;
			color: $md-primary;
			cursor: default;

			&:hover {
				text-decoration: none;
			}
		}
	}
}
