.logo {
	display: flex;
	flex-grow: 0;
	align-items: center;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}

	&__text {
		font-size: 21px;
		line-height: 30px;
		font-weight: 400;
		color: #606060;
		word-spacing: -6px;
		margin-bottom: 4px;

		&--highlight {
			color: #888;
		}

		&__block {
			// Stops breaking mid-phrase
			display: inline-block;
		}

		&:hover {
			color: #606060;
		}
	}
}
