.loyalty-list {
	padding: 8px;
	margin: 0;
	list-style-type: none;

	&__item {
		padding: 12px;
		flex-wrap: wrap;

		& + & {
			// padding-top: 20px;
			// margin-top: 10px;
			// border-top: $divider;
		}

		.supplier-logo {
			margin: 0 20px 0 0;
		}
	}

	&__name {
		margin: 0;
	}

	&__input {
		margin-top: 8px;

		@media (min-width: $bp-medium) {
			width: 220px;
			margin: 0;
		}
	}
}