.primary-nav {
	display: flex;

	> li {
		display: block;

		> a {
			display: block;
			padding: 0 10px;
			height: 48px;
			line-height: 48px;
			transition: $transition;
		}
	}

	> li:hover {
		> a {
			height: 49px;
			margin-bottom: -1px;
			color: $md-primary;
			background: $md-primary-text;
			box-shadow: 0 4px 4px 0 rgba(255, 255, 255,.3)
		}

		> .sub-nav {
			opacity: 1;
			visibility: visible;
		}
	}
}

.sub-nav {
	position: absolute;
	top: 100%;
	left: 172px;
	width: 800px;
	max-width: calc(100% - 172px);
	max-height: calc(100vh - 104px);
	padding: 8px;
	opacity: 0;
	visibility: collapse;
	z-index: 9;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3);
	transition: $transition;

	a:hover {
		text-decoration: underline;
	}

	&__header {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		padding: 12px 16px;
		background: $md-accent;
		color: rgba(0,0,0,.54);

		> h3 {
			font-size: 30px;
			font-weight: 300;
		}

		.with-view-all {
			padding-right: 16px;
			border-right: 1px solid;
			margin-right: 16px;
		}
	}

	&__links {
		padding: 24px 24px 8px;
		columns: 3 220px;
		column-gap: 16px;
		font-weight: 400;
	}

	&__section {
		break-inside: avoid;
		padding: 0 0 16px;
		list-style-type: none;

		&__heading {
			margin: 0;
			text-transform: uppercase;
		}
	}
}