.product-details {
	@media (min-width: $bp-medium) {
		margin: 20px auto;
	}

	&__inner {
		padding: 16px;
	}

	&__image-wrapper {
		@media (min-width: $bp-medium) {
			margin-right: 20px;
		}
	}

	&__image {
		max-width: 100%;
		margin: 0 auto;
	}

	&__price {
		> span:first-child {
			font-size: 28px;
			font-weight: 500;
		}
	}

	&__actions {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 12px;
		flex: 2;
		background: white;
		box-shadow: 0px -1px 3px 0px rgba(0, 0, 0, 0.2),
			0px -1px 1px 0px rgba(0, 0, 0, 0.14),
			0px -2px 1px -1px rgba(0, 0, 0, 0.12);

		@media (min-width: $bp-medium) {
			position: static;
			padding: 0;
			margin-top: 16px;
			flex: none;
			box-shadow: none;

			&__spacer {
				display: none;
			}
		}
	}

	&__actions__spacer,
	&__quantity {
		flex: 1;

		@media (min-width: $bp-medium) {
			flex: none;
		}
	}

	&__quantity {
		margin: 0 0 4px;
		font-size: 16px;
	}

	&__add-btn {
		padding: 0 20px;
		margin: 0 8px;
		flex: 2;

		@media (min-width: $bp-medium) {
			margin: 0 0 0 16px;
			flex: none;
		}
	}

	&__stock-message {
		color: rgb(255, 138, 128);
	}

	&--section {
		padding-bottom: 20px;

		& + & {
			padding-top: 20px;
			border-top: 1px dotted #ccc;
		}
	}

	&__description {
		margin: 0;
	}

	&__attributes {
		&__heading {
			width: 25%;
			max-width: 240px;
			text-align: left;
			padding: 4px 8px 4px 0;
		}

		&__item {
			padding: 4px 0 4px 8px;
		}

		tr + tr & {
			&__heading,
			&__item {
				border-top: 1px solid #e5e5e5;
			}
		}
	}
}

.product-details-footer {
	margin-bottom: 60px;

	@media (min-width: $bp-medium) {
		margin-bottom: 0;
	}
}