.product-thumb {
	display: flex;

	&__link {
		display: flex;
		flex-flow: column nowrap;
		width: 100%;
		padding: 24px 16px;
	}

	&__info {
		flex: 1;
	}

	&__image {
		height: auto;
		max-height: 180px;
		max-width: 100%;
		margin: 0 auto;
	}

	&__name {
		margin: 16px 0 2px;

		&:hover {
			text-decoration: underline;
		}
	}

	&__name,
	&__price {
		line-height: 18px;
	}

	&__actions {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-right: -16px;
	}

	&__price {
		display: flex;
		font-weight: 600;

		&--now {
			color: $md-primary;
		}

		&--was {
			text-decoration: line-through;
			margin-left: 8px;
			font-weight: 400;
		}
	}
}
