.replenishment {
	position: relative;

	&__list {
		display: flex;
		flex-flow: row wrap;

		> li {
			width: 50%;
			margin-bottom: 10px;

			&:nth-child(odd) {
				padding-right: 10px;
			}

			&:nth-child(even) {
				padding-left: 10px;
			}
		}
	}

	&__button {
		display: flex;
		width: 100%;
		padding: 10px;
		margin: 0;
		border-radius: 30px;
		text-transform: none;

		.md-ripple-container {
			border-radius: 30px;
		}

		&:not([disabled]):hover {
			background-color: #f5f5f5;
		}
	}

	&__title {
		padding: 0 10px;
		text-align: left;
	}

	&__name {
		display: inline;
		margin: 0;
	}

	&__quantity-wrapper {
		position: absolute;
		top: 50%;
		right: 5px;
		transform: translateY(-50%);
	}

	&__quantity {
		font-size: 18px;
	}

	&__logo,
	&__check-mark {
		transition: transform $transition;
		backface-visibility: hidden;
	}

	&__logo {
		transform: rotate3d(0, 1, 0, 0);
		z-index: 10;

		&--placeholder {
			height: 40px;
			width: 40px;
		}
	}

	&__check-mark {
		transform: rotate3d(0, 1, 0, -180deg);
		height: 40px;
		width: 40px;
		line-height: 40px;
		margin-top: -40px;
		font-size: 24px;
		text-align: center;
		background: #A5D6A7;
		color: white;
		border-radius: 50%;
	}

	&.is-checked & {
		&__logo {
			transform: rotate3d(0, 1, 0, 180deg);
		}

		&__check-mark {
			transform: rotate3d(0, 1, 0, 0);
			z-index: 10;
		}
	}
}
