.suppliers-dropdown {
	&__button {
		display: block;
		height: 48px;
		padding: 0 4px 0 8px;
		margin: 0;
		border: 0 none;
		outline: none;
		line-height: 48px;
		background: transparent;
		color: inherit;
		text-transform: none;
		transition: $transition;

		&:hover {
			background: rgba(158,158,158,0.2);
		}

		md-icon {
			height: 16px;
			width: 16px;
			color: inherit !important;
			transform: translateY(0) translateZ(0);
			transition: $transition;
		}

		.is-open & {
			height: 49px;
			margin-bottom: -1px;
			color: $md-primary;
			background: $md-primary-text;
			box-shadow: 0 4px 4px 0 rgba(255, 255, 255,.3);

			md-icon {
				transform: translateY(1px) translateZ(0);
			}
		}
	}

	&.is-open {
		.sub-nav {
			opacity: 1;
			visibility: visible;
		}
	}
}

.sub-nav {
	&__suppliers {
		display: flex;
		flex-flow: row wrap;
	}

	&__supplier {
		width: (100%/6);

		&__link {
			display: block;
			padding: 20px;
			border: 1px solid transparent;
			transition: $transition;

			&:hover {
				border-color: $divider-color;
				box-shadow: 0 1px 2px 0 $divider-color;
			}
		}

		&__image {
			margin: 0 auto;
		}
	}
}
