.supplier-logo {
	border-radius: 50%;
	overflow: hidden;
	flex-shrink: 0;
}

.supplier-listing {
	margin-bottom: 40px;

	$supplier-listing-text-shadow: 1px 1px 10px rgba(0,0,0,.87);

	&__header {
		padding: 16px 0;
		border-bottom: $divider;
		text-align: center;
		background-position: 50% 50%;
		background-size: cover;
		color: white;
		text-shadow: $supplier-listing-text-shadow;
		background-color: #E0E0E0;
	}	

	&__logo {
		height: 80px;
		width: 80px;
		margin: 0 auto;
	}

	&__name {
		margin: 4px 0;
	}

	&__info {
		margin: 0;
	}

	&__info-icon {
		color: inherit;
		vertical-align: bottom;
		filter: drop-shadow($supplier-listing-text-shadow);
		outline: none;
	}

	&__products {
		display: flex;
		flex-flow: row wrap;

		.product-thumb {
			display: inline-flex;
			width: 50%;
			border: $divider;
			border-width: 0 1px 1px 0;

			@media (min-width: 480px) and (max-width: 599px), (min-width: 720px) and (max-width: 899px) {
				width: (100%/3);
			}

			@media (min-width: 900px) {
				width: (100%/4);
			}

			&__link {
				padding: 20px 20px 10px;
			}
		}
	}

	&__products--wide {
		.product-thumb {
			@media (min-width: 720px) and (max-width: 899px) {
				width: (100%/4);
			}

			@media (min-width: 900px) {
				width: (100%/5);
			}
		}
	}

	&__products--list-view {
		display: table;
		width: 100%;

		.product-thumb {
			display: table-row-group;

			&__link {
				display: table-row;
				padding: 0;
			}

			&__info,
			&__actions {
				display: table-cell;
				padding: 10px;
				margin: 0;
				border-bottom: $divider;
				vertical-align: middle;
				white-space: nowrap;
			}

			&__info {
				width: 100%;
			}

			&__image,
			&__title,
			&__price,
			&__quantity-wrapper {
				display: inline-block;
				vertical-align: middle;
			}

			&__image {
				max-height: 60px;
				max-width: 60px;
				margin: 0 8px 0 0;
			}

			&__title {
				margin: 8px 0;
				white-space: normal;
				max-width: calc(100% - 60px);
			}

			&__name,
			&__sizing {
				display: block;
			}

			&__sizing {
				margin-top: 2px;
			}

			&__actions {
				line-height: 60px;
				text-align: right;
			}

			&__price {
				margin: 0 15px 0 0;
			}

			&__add-button {
				margin: 0 20px;
			}

			&__quantity-wrapper {
				min-width: 88px;
				text-align: center;
			}
		}
	}
}

.supplier-logo {
	border-radius: 50%;
	overflow: hidden;

	&--placeholder {
		color: white;
		background: #9E9E9E;
		text-shadow: none;
		font-weight: 400;
		text-align: center;
		// Defaults
		font-size: 34px;
		line-height: 80px;
	}
}