.supplier-box {
	margin-bottom: 40px;
	background: white;

	&__header {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		padding: 16px 16px 16px 32px;
		border-bottom: $divider;
	}

	&__name {
		margin: 0;
	}

	&__logo {
		margin-right: 20px;
		border-radius: 50%;
		overflow: hidden;
	}

	&__more {
		font-size: 16px;
		min-width: 0;
	}

	&__items {
		display: flex;
		max-width: 100%;
		padding: 0 8px;
		margin: 0;
		overflow: auto;
		list-style-type: none;
	}

	.product-thumb {
		width: 212px;
		flex-shrink: 0;
	}
}
