.suppliers-dropdown {
	position: static;
}

.supplier {
	position: relative;
	width: (100%/6);
	transition: opacity $transition;

	&__link {
		display: block;
		padding: 20px;
		border: 1px solid transparent;
		transition: $transition;

		&:hover {
			border-color: $divider-color;
			box-shadow: 0 1px 2px 0 $divider-color;
			text-decoration: none !important;
		}
	}

	&__image {
		margin: 0 auto;
	}
}

.pin-grid {
	display: flex;
	flex-flow: row wrap;
	overflow: hidden;

	&__pin {
		position: absolute;
		top: -8px;
		right: -14px;
		margin: 0 !important;
		transition: transform .1s linear, opacity $transition;
	}

	&--active {
			.supplier {
				opacity: .6;

			&:hover,
			&--is-pinned {
				opacity: 1;
			}

			&--is-pinned .pin {
				opacity: 1;
			}
		}
	}
}

.pin-button {
	transform: scale(1);
	transition: transform .1s linear;

	&:active {
		transform: scale(.5);
	}

	&.md-secondary {
		transform: scale(1) translate3d(0, -50%, 0);

		&:active {
			transform: scale(.5) translate3d(0, -75%, 0);
		}
	}

	md-icon {
		color: rgba(0, 0, 0, .24) !important;
	}

	.is-pinned {
		color: rgba(0, 0, 0, .54) !important;
	}
}
