.toggle-buttons {
	display: flex;
	flex-flow: row nowrap;

	.md-button {
		min-width: 38px;
		margin: 0;
		border: $divider;
		transition:
			box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
			background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
			color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

		&:not(:first-child) {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-left: 0 none;
		}

		&:not(:last-child) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
}
