md-toolbar {
	max-height: 60px;
	min-height: 56px;
}

.md-toolbar-secondary {	
	min-height: 48px;
	
	.md-toolbar-tools {
		font-size: 14px;
		font-weight: 500;
	}
}

.md-toolbar-tools {
	height: inherit;
	max-height: inherit;
}

.toolbar-divider {
	display: block;
	height: 24px;
	width: 1px;
	margin: auto -1px auto 0;
	background: rgba(255, 255, 255, .65);
}
