<main class="content-wrap content-wrap--960">
	<section class="basket md-whiteframe md-whiteframe-z1 layout-padding">
		<div class="layout-row layout-align-space-between-center">
			<h1 class="md-headline" style="padding-left: 25px;">
				<span ng-show="vm.basket.order_forms.length">Basket</span>
				<span ng-hide="vm.basket.order_forms.length">Your basket is empty</span>
			</h1>
			<div class="basket__actions" ng-show="vm.basket.order_forms.length">
				<md-button class="md-primary md-raised" ng-click="vm.beginCheckout()">Go to checkout</md-button>
				<div class="basket__actions__subtotal">Subtotal: <strong ng-bind="vm.basket.subtotal | currency: '£'"></strong></div>
			</div>
		</div>

		<div ng-show="vm.basket.order_forms.length">
			<ul class="order-forms unstyled-list">
				<li class="order-form" ng-repeat="order_form in vm.basket.order_forms track by order_form.supplier">
					<div class="layout-row layout-align-start-center md-accent-panel">
						<div class="supplier-logo" style="margin: 20px">
							<img ng-src="{{ ::vm.getLogoForSupplier(order_form.supplier) }}" height="56" width="56" alt />
						</div>
						<h2 class="md-headline flex">
							<a ng-href="search/?supplier={{ ::order_form.supplier }}" ng-bind="::order_form.supplier"></a>
						</h2>
						<strong class="order-form__subtotal" ng-bind="order_form.subtotal | currency: '£'"></strong>
					</div>

					<table class="line-items">
						<tr class="line-item" ng-repeat="line_item in order_form.line_items track by line_item.product.id" ng-init="vm.quantity[line_item.product.id] = line_item.quantity">
							<td class="line-item__thumb-wrapper">
								<img class="line-item__thumb" ng-src="{{ ::line_item.product.thumbnail_image_url }}" alt="{{ ::line_item.product.name }}" />
							</td>
							<td>
								<h3 class="line-item__name md-subhead">
									<a ng-href="product/{{ ::line_item.product.id }}" ng-bind="::line_item.product.name"></a>
								</h3>
								<div class="line-item__price" price product="::line_item.product"></div>
								<div class="line-item__actions layout-row layout-align-start-center">
									<md-button class="md-primary align-text" ng-click="vm.removeFromBasket(line_item.product)">Remove</md-button>
									<span class="line-item__actions__spacer"></span>
									<md-button class="md-primary align-text" ng-click="vm.saveForLater(line_item.product)">Save for later</md-button>
								</div>
							</td>
							<td>
								<input type="hidden" ng-model="line_item.quantity" ng-change="vm.syncQuantity(line_item)" />
								<md-input-container md-no-float class="line-item__quantity md-block">
									<input type="number" min="1" ng-model="vm.quantity[line_item.product.id]" placeholder="Qty" ng-focus="vm.quantityFocus[line_item.product.id] = true" ng-blur="vm.handleBlur(line_item)">
								</md-input-container>
							</td>
							<td class="line-item__subtotal">
								<md-button class="md-primary md-raised line-item__update-btn" ng-class="{'is-visible': vm.quantityFocus[line_item.product.id]}" ng-click="vm.updateQuantity(line_item.product, vm.quantity[line_item.product.id])">Update</md-button>
								<span ng-bind="line_item.subtotal | currency: '£'"></span>
							</td>
						</tr>
					</table>
				</li>
			</ul>

			<div class="basket__actions">
				<div class="basket__actions__subtotal">Subtotal: <strong ng-bind="vm.basket.subtotal | currency: '£'"></strong></div>
				<md-button class="md-primary md-raised" ng-click="vm.beginCheckout()">Go to checkout</md-button>
			</div>
		<div>
	</section>

	<section class="content-box md-whiteframe md-whiteframe-z1">
		<div class="content-box__header layout-row layout-align-space-between-center">
			<h2 class="content-box__title flex md-headline">Loyalty programs</h2>
			<div class="content-box__action">
				<md-button class="md-primary md-small" ng-href="account/loyalty-cards/">Manage loyalty cards</md-button>
			</div>
		</div>
		<div class="content-box__body" ng-show="vm.basketSuppliers.length">
			<loyalty-list suppliers="vm.basketSuppliers"></loyalty-list>
		</div>
	</section>

	<section class="content-box md-whiteframe md-whiteframe-z1" ng-show="vm.savedForLater.length">
		<div class="content-box__header layout-row layout-align-space-between-center">
			<h2 class="content-box__title flex md-headline">Saved for later</h2>
		</div>
		<div class="content-box__body">
			<table class="line-items">
				<tr class="line-item" ng-repeat="product in vm.savedForLater track by product.id">
					<td class="line-item__thumb-wrapper">
						<img class="line-item__thumb" ng-src="{{ ::product.thumbnail_image_url }}" alt="{{ ::product.name }}" />
					</td>
					<td>
						<h3 class="line-item__name md-subhead">
							<a ng-href="product/{{ ::product.id }}" ng-bind="::product.name"></a>
						</h3>
						<div class="line-item__price" price product="::product"></div>
						<div class="line-item__actions layout-row layout-align-start-center">
							<md-button class="md-primary align-text" ng-click="vm.removeFromSaved(product)">Remove</md-button>
							<span class="line-item__actions__spacer"></span>
							<md-button class="md-primary align-text" ng-click="vm.addSavedToBasket(product)">Add to basket</md-button>
						</div>
					</td>
					<td>&nbsp;</td>
				</tr>
			</table>
		</div>
	</section>
</main>

<div ng-include="'views/partials/footer.html'"></div>
