<div class="content-wrap">
	<form class="checkout layout-gt-sm-row layout-align-space-between-start flex">
		<main class="checkout__container md-whiteframe md-whiteframe-z1" flex layout-margin>
			<h1 class="checkout__heading md-headline">Checkout</h1>

			<ol class="unstyled-list">
				<li class="checkout__form-section layout-gt-md-row">
					<h2 class="checkout__form-section__heading md-subhead flex-gt-md-25">Delivery address</h2>
					<div class="checkout__form-section__fields flex">
						<address-summary address="vm.checkout.delivery_address"></address-summary>
						<md-button class="md-primary align-text" style="margin-top: -4px" ng-click="vm.editAddress($event, 'delivery')">Edit address</md-button>
					</div>
				</li>
				<li class="checkout__form-section layout-gt-md-row">
					<h2 class="checkout__form-section__heading md-subhead flex-gt-md-25">Delivery window</h2>
					<div class="checkout__form-section__fields flex">
						<ul class="unstyled-list">
							<li class="checkout__delivery-window" ng-repeat="order_form in vm.checkout.basket.order_forms track by order_form.supplier_id">
								<div class="layout-row layout-align-start-center md-accent-panel">
									<div supplier-logo supplier="::vm.supplierInfo[order_form.supplier_id]" size="40" style="margin: 10px 20px;"></div>
									<h3 class="md-subhead" ng-bind="::vm.supplierInfo[order_form.supplier_id].name"></h3>
								</div>

								<delivery-window order-form="order_form" delivery-dates="::vm.deliveryDates[order_form.supplier_id]"></delivery-window>

								<div class="checkout__sign-option layout-gt-sm-row layout-align-start-center">
									<span>Sign for delivery?</span>
									<md-radio-group ng-model="order_form.sign_for" class="md-primary layout-gt-sm-row">
										<md-radio-button ng-value="true">Yes</md-radio-button>
										<md-radio-button ng-value="false">No</md-radio-button>
									</md-radio-group>
								</div>
							</li>
						</ul>
					</div>
				</li>
				<li class="checkout__form-section layout-gt-md-row">
					<h2 class="checkout__form-section__heading md-subhead flex-gt-md-25">Payment</h2>
					<div class="checkout__form-section__fields flex">
						<h3 class="md-subhead" style="margin-top: 0">How would you like to pay for this order?</h3>
						<md-radio-group ng-model="vm.checkout.payment_method">
							<md-radio-button value="cash" class="md-primary">Cash on delivery</md-radio-button>
							<md-radio-button value="account" class="md-primary">Add to account balance</md-radio-button>
						</md-radio-group>
						<address-summary address="vm.checkout.billing_address" style="margin-top: 20px;"></address-summary>
						<md-button class="md-primary align-text" ng-click="vm.editAddress($event, 'billing')">Edit billing address</md-button>
					</div>
				</li>
			</ol>
		</main>

		<aside class="checkout__container checkout__summary md-whiteframe md-whiteframe-z1" layout-margin>
			<h2 class="checkout__heading md-headline">Order Summary</h2>
			<table class="checkout__summary__details">
				<tbody>
					<tr>
						<th scope="row">Item(s)</th>
						<td ng-bind="vm.checkout.basket.subtotal | currency: '£'"></td>
					</tr>
					<tr>
						<th scope="row">Estimated tax</th>
						<td ng-bind="vm.checkout.basket.tax | currency: '£'"></td>
					</tr>
					<tr>
						<th scope="row">Delivery</th>
						<td>
							<span ng-show="!vm.checkout.basket.shipping_total && vm.checkout.basket.shipping_total !== 0">--</span>
							<span ng-show="vm.checkout.basket.shipping_total === 0">FREE</span>
							<span ng-show="vm.checkout.basket.shipping_total > 0" ng-bind="vm.checkout.basket.shipping_total | currency: '£'"></span>
						</td>
					</tr>
				</tbody>
				<tfoot class="checkout__summary__total">
					<tr>
						<th scope="row">Estimated total</th>
						<td ng-bind="vm.checkout.basket.total | currency: '£'"></td>
					</tr>
				</tfoot>
			</table>
			<md-button class="checkout__action md-primary md-raised" ng-click="vm.completeCheckout()">Place order</md-button>
		</aside>
	</form>
</div>
