<div class="hero" style="background-image: url(assets/images/orderable-hero.jpg)">
	<div class="content-wrap">
		<div class="layout-row">
			<div class="hero__banner">
				<p style="margin-top: 0;">Great suppliers delivering to you</p>
				<h1>Order the products you need from the suppliers you love</h1>
				<md-button ng-hide="::vm.isSignedIn" class="align-text" ng-href="registration/">
					Sign up now
					<md-icon md-svg-src="assets/images/icons/arrow-right-circle.svg"></md-icon>
				</md-button>
			</div>
		</div>
	</div>
</div>

<div class="supplier-logo-box">
	<div class="content-wrap">
		<div class="layout-row layout-align-center-center">
			<a ng-href="{{ ::supplier.href }}" class="supplier-logo-box__logo" ng-repeat="supplier in ::vm.suppliers">
				<div supplier-logo supplier="::supplier" size="$mdMedia('gt-sm') ? 80 : 60"></div>
			</a>
		</div>
	</div>
</div>

<div class="content-wrap">
	<main class="layout-margin">
		<section class="replenishment" ng-if="::vm.replenishmentItems.length">
			<div class="layout-row layout-align-space-between-center" style="margin: 0 0 5px;">
				<h2 class="md-title">
					<span>Instant order</span>
				</h2>
				<md-button ng-click="vm.replenishAllItems()" class="md-primary md-raised" style="margin: 0;">
					<span>Resupply</span>
				</md-button>
			</div>
			<ul class="replenishment__list unstyled-list">
				<li replenishment-thumb product="item.product" quantity="item.quantity" supplier="vm.replenishmentSuppliers[item.product.supplier_id]" ng-repeat="item in ::vm.replenishmentItems track by item.product.id"></li>
			</ul>
		</section>

		<supplier-featured-items ng-repeat="featured in ::vm.featuredSupplierProducts" supplier="::featured.supplier" hits="::featured.hits" button-text="Shop store"></supplier-featured-items>
	</main>
</div>

<div ng-include="'views/partials/footer.html'"></div>
