<main class="content-wrap content-wrap--940 flex">
	<div class="order-history md-whiteframe md-whiteframe-z1 layout-margin">
		<h1 class="md-headline">Open orders</h1>
		
		<p ng-hide="vm.orders.length">You don't have any open orders at this time. To see all your orders, including ones you've marked as received, go to your <a href="account/orders/history/">order history</a>.</p>
		<ul class="unstyled-list" ng-show="vm.orders.length">
			<li class="animate-repeat" ng-repeat="order in vm.orders track by order.date">
				<div class="md-list-item-text">
					<div class="layout-row layout-align-start-center md-accent-panel with-hover-action" style="padding: 8px 16px">
						<h2 class="md-subhead" ng-bind="::order.date | date: 'EEE, MMM d'"></h2>
						<span class="flex"></span>
						<span class="order__total" ng-bind="::order.basket.total | currency: '£'"></span>
						<md-button class="md-icon-button md-accent md-hue-3 hover-action" style="margin: 0" ng-click="vm.markAllAsDelivered(order)" aria-label="Mark order fulfilled">
							<md-icon md-svg-src="assets/images/icons/done-all.svg">
								<md-tooltip>Mark all deliveries for {{ ::order.date | date: 'EEE, MMM d' }} as received</md-tooltip>
							</md-icon>
						</md-button>
					</div>
					
					<md-list style="padding: 0;">
						<md-list-item class="md-2-line md-no-proxy md-with-secondary with-hover-action animate-repeat" style="padding: 0;" ng-click="vm.viewOrder(orderForm)" ng-class="{'md-3-line': $mdMedia('sm'), 'md-2-line': $mdMedia('gt-sm')}" ng-repeat="orderForm in order.order_forms track by orderForm.id">
							<img class="md-avatar" ng-src="{{ ::vm.supplierInfo[orderForm.supplier_id].logo }}" alt="{{ ::vm.supplierInfo[orderForm.supplier_id].name }}" />
							<div class="md-list-item-text layout-column">
								<h3 ng-bind="::vm.supplierInfo[orderForm.supplier_id].name"></h3>
								<div class="layout-gt-sm-row">
									<h4 ng-bind="::orderForm.subtotal | currency: '£'"></h4>
									<p style="font-weight: normal;">
										<span class="hide-sm">&nbsp;&ndash;&nbsp;</span><span ng-bind="::orderForm.line_item_count"></span> item<span ng-hide="::orderForm.line_item_count === 1">s</span>
									</p>
								</div>
							</div>
							<span class="flex"></span>
							<md-icon md-svg-src="assets/images/icons/done.svg" class="hover-action md-secondary" ng-click="vm.markAsDelivered(orderForm)" aria-label="Mark order delivered">
								<md-tooltip>Mark delivery as received</md-tooltip>
							</md-icon>
							<md-divider ng-if="!$last"></md-divider>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</main>

<div ng-include="'views/partials/footer.html'"></div>
