<main class="content-wrap content-wrap--940">
	<md-content class="product-details md-whiteframe-z1">
		<div class="supplier-listing__header" style="background-image: url('http://lorempixel.com/1000/200/food/3/');">
			<img class="supplier-listing__logo" ng-src="{{ ::vm.supplierLogo }}" height="80" width="80" alt />
		</div>

		<div class="product-details__inner">
			<div class="product-details--section layout-column layout-gt-sm-row">
				<div class="product-details__image-wrapper">
					<img class="product-details__image" ng-src="{{ ::vm.product.thumbnail_image_url }}" alt="{{ ::vm.product.name }}" />
				</div>
				<div class="flex">
					<h1 class="md-headline" ng-bind="vm.product.name"></h1>
					<span class="product-details__price" price product="vm.product"></span>
					<div class="product-details__actions layout-row layout-align-start-center">
						<md-select class="product-details__quantity" ng-model="vm.quantity" ng-change="vm.changeQuantity()" aria-label="Quantity">
							<md-option ng-repeat="quantity in vm.quantities track by quantity" ng-value="{{ quantity }}">
								<div class="md-text">
									<span ng-if="!!quantity" ng-bind="quantity"></span>
									<span ng-if="!quantity">
										<md-icon md-svg-src="assets/images/icons/delete.svg"></md-icon>
									</span>
								</div>
							</md-option>
						</md-select>
						<md-button class="md-primary md-raised product-details__add-btn" ng-click="vm.addToBasket()" ng-disabled="vm.quantityInBasket > 0">
							<span ng-show="vm.quantityInBasket === 0">Add to basket</span>
							<span ng-show="vm.quantityInBasket > 0">Added to basket</span>
						</md-button>
					</div>
				</div>
			</div>
			<p class="product-details__description product-details--section" ng-bind-html="::vm.product.long_description"></p>
			
			<div class="product-details--section">
				<h2 class="md-subhead-2" style="margin: -4px 0 4px">Details</h2>
				<table class="product-details__attributes">
					<tr clas="product-details__attributes__item">
						<th class="product-details__attributes__heading md-body-1" scope="row">Brand</th>
						<td class="product-details__attributes__item" ng-bind="vm.product.brand"></td>
					</tr>
				</table>
			</div>
		</div>
		</div>
	</md-content>
</main>
