<main class="content-wrap content-wrap--940 flex">
	<div class="layout-margin">
		<h1 class="md-title">Saved address</h1>
		<p>This address will be used for instant ordering, and will be the default option at checkout</p>
	</div>
	<div class="layout-gt-sm-row layout-wrap">
		<div class="flex-gt-sm-50 flex-gt-md-25" ng-if="vm.address">
			<div class="md-whiteframe md-whiteframe-z1 layout-margin" style="padding: 12px">
				<address-summary address="vm.address"></address-summary>
				<md-button class="md-primary align-text" ng-click="vm.editAddress($event)">Edit address</md-button>
			</div>
		</div>
		<div class="flex-gt-sm-50 flex-gt-md-25" ng-hide="vm.address">
			<md-button class="md-primary" ng-click="vm.editAddress($event)">
				<md-icon md-svg-src="assets/images/icons/add.svg"></md-icon>
				<span style="display: inline-block; vertical-align: middle;">Add an address</span>
			</md-button>
		</div>
	</div>
</main>

<div ng-include="'views/partials/footer.html'"></div>
