<div class="content-wrap">
	<div class="layout-gt-sm-row layout-align-space-between-center layout-padding">
		<div class="breadcrumbs" ng-controller="BreadcrumbsController as vm" ng-show="vm.breadcrumbs.length > 1">
			<span ng-repeat="crumb in vm.breadcrumbs track by crumb.href">
				<span ng-if="!$last">
					<a class="breadcrumbs__crumb" ng-href="{{ ::crumb.href }}" ng-bind="::crumb.name"></a>
					<span class="breadcrumbs__spacer">›</span>
				</span>
				<span ng-if="$last" style="display: inline-block">
					<span class="breadcrumbs__crumb--final" ng-bind="::crumb.name"></span>
					<a class="breadcrumbs__remove" ng-href="{{ vm.breadcrumbs[$index - 1].href }}">&times;</a>
				</span>
			</span>
		</div>

		<span class="flex" style="padding: 0"></span>

		<div class="sort-options layout-row layout-align-space-between-center">
			<div style="margin-right: 16px; margin-top: 4px;"><strong ng-bind="vm.totalHits < 1000 ? vm.totalHits : '1000+'"></strong> result<span ng-show="vm.totalHits !== 1">s</span></div>
			<md-input-container md-no-float>
				<md-select ng-model="vm.sortBy" ng-change="vm.applySort()" aria-label="Sorting options">
					<md-option ng-repeat="option in ::vm.sortOptions" ng-value="::option.value" ng-bind="::option.display_name"></md-option>
				</md-select>
			</md-input-container>
		</div>
	</div>

	<div class="layout-row flex">
		<aside class="layout-margin" ng-class="{'hide-sm': !vm.showMobileRefinement}">
			<md-content class="md-whiteframe-z1 facets">
				<section class="facets__section" ng-repeat="facet in vm.facets track by facet.field">
					<div class="layout-row layout-align-space-between-start">
						<h3 class="facets__heading md-body-2" ng-bind="::(facet.display_name || facet.field)"></h3>
						<a ng-href="{{ vm.removeRefinementFromUrl(facet.field) }}" class="facets__clear" ng-show="vm.search[facet.field]">Clear</a>
					</div>
					<ul class="facets__values unstyled-list">
						<li ng-repeat="value in facet.values track by value.value">
							<a ng-href="{{ vm.applyRefinementToUrl(facet.field, value.value) }}" class="facets__value" ng-class="{'facets__value--active': vm.search[facet.field] === value.value}" ng-bind="::(value.display_name || value.value)"></a>
						</li>
					</ul>
				</section>
			</md-content>
		</aside>

		<main class="search-results-wrapper flex layout-margin">
			<div ng-if="!vm.hits.length">No search results</div>

			<div ng-if="!vm.search.supplier_id">
				<supplier-featured-items ng-repeat="(supplier, hits) in vm.hitsBySupplier" supplier="supplier" hits="hits"></supplier-featured-items>
			</div>

			<div class="supplier-listing md-whiteframe md-whiteframe-z1" ng-if="vm.search.supplier_id">
				<div class="supplier-listing__header" style="background-image: url('http://lorempixel.com/1000/200/food/3/');">
					<img class="supplier-listing__logo" ng-src="{{ ::vm.getLogoForSupplier(vm.search.supplier_id) }}" height="80" width="80" alt />
					<h2 class="supplier-listing__name md-title" ng-bind="::vm.search.supplier_id"></h2>
				</div>
				<ul class="supplier-listing__products unstyled-list">
					<li product-thumb product="hit" basket="true" ng-repeat="hit in vm.hits track by hit.objectID"></li>
				</ul>
			</div>
			<div class="layout-row layout-align-space-around-center" style="margin: -16px 0 16px;" ng-hide="vm.hits.length === vm.totalHits">
				<md-progress-circular md-mode="{{ vm.loadingNextPage ? 'indeterminate' : '' }}"></md-progress-circular>
			</div>
		</main>
	</div>
</div>

<div class="mobile-options md-whiteframe md-whiteframe-z3 layout-row hide-gt-sm">
	<md-menu class="flex layout-column">
		<md-button ng-click="$mdOpenMenu()">
			<md-icon md-svg-src="assets/images/icons/sort.svg"></md-icon>
			<span>Sort</span>
		</md-button>
		<md-menu-content widht="4">
			<md-menu-item ng-repeat="option in ::vm.sortOptions">
				<md-button ng-click="vm.applySort(option.value)" aria-label="{{ ::option.display_name }}">
					<span ng-bind="::option.display_name"></span>
				</md-button>
			</md-menu-item>
		</md-menu-content>
	</md-menu>
	<md-button class="flex" ng-click="vm.showMobileRefinement = !vm.showMobileRefinement" style="padding: 0">
		<md-icon md-svg-src="assets/images/icons/filter-list.svg"></md-icon>
		<span>Refine</span>
	</md-button>
</div>
