<div class="content-wrap">
	<div layout="row" layout-padding>
		<div class="breadcrumbs" ng-controller="BreadcrumbsController as vm" ng-show="vm.breadcrumbs.length > 1">
			<span ng-repeat="crumb in vm.breadcrumbs track by crumb.href">
				<span ng-if="!$last">
					<a class="breadcrumbs__crumb" ng-href="{{ ::crumb.href }}" ng-bind="::crumb.name"></a>
					<span class="breadcrumbs__spacer">›</span>
				</span>
				<span ng-if="$last">
					<span class="breadcrumbs__crumb--final" ng-bind="::crumb.name"></span>
					<a class="breadcrumbs__remove" ng-href="{{ vm.breadcrumbs[$index - 1].href }}">&times;</a>
				</span>
			</span>
		</div>
	</div>

	<div layout="row" flex>
		<aside class="hide-sm" layout-margin>
			<md-content class="md-whiteframe-z1 facets">
				<!-- <section class="facets__section" ng-if="vm.suppliers">
					<h3 class="facets__heading md-body-2">Suppliers</h3>
					<ul class="facets__values">
						<li ng-repeat="supplier in vm.suppliers track by supplier">
							<a ng-href="{{ vm.applyRefinementToUrl('supplier', supplier) }}" class="facets__value" ng-bind="::supplier"></a>
						</li>
					</ul>
				</section> -->

				<section class="facets__section" ng-repeat="facet in vm.facets track by facet.field">
					<div layout="row" layout-align="space-between start">
						<h3 class="facets__heading md-body-2" ng-bind="::(facet.display_name || facet.field)"></h3>
						<a ng-href="{{ vm.removeRefinementFromUrl(facet.field) }}" class="facets__clear" ng-show="vm.search[facet.field]">Clear</a>
					</div>
					<ul class="facets__values">
						<li ng-repeat="value in facet.values track by value.value">
							<a ng-href="{{ vm.applyRefinementToUrl(facet.field, value.value) }}" class="facets__value" ng-class="{'facets__value--active': vm.search[facet.field] === value.value}" ng-bind="::(value.display_name || value.value)"></a>
						</li>
					</ul>
				</section>
			</md-content>
		</aside>

		<main flex layout-margin style="overflow: auto;">
			<div class="supplier-box md-whiteframe-z1" ng-repeat="(supplier, hits) in vm.hitsBySupplier" ng-if="!vm.search.supplier">
				<a class="supplier-box__header" ng-href="{{ ::vm.applyRefinementToUrl('supplier', supplier) }}">
					<div class="supplier-box__logo">
						<img ng-src="{{ ::vm.getLogoForSupplier(supplier) }}" height="56" width="56" alt />
					</div>
					<h2 class="supplier-box__name md-headline flex" ng-bind="supplier"></h2>
					<md-button class="supplier-box__more md-primary">More</md-button>
				</a>
				<ul class="supplier-box__items">
					<li product-thumb product="hit" basket="false" ng-repeat="hit in hits track by hit.objectID"></li>
				</ul>
			</div>

			<div class="supplier-listing md-whiteframe-z1" ng-if="vm.search.supplier">
				<div class="supplier-listing__header" style="background-image: url('http://lorempixel.com/1000/200/food/3/');">
					<img class="supplier-listing__logo" ng-src="{{ ::vm.getLogoForSupplier(vm.search.supplier) }}" height="80" width="80" alt />
					<h2 class="supplier-listing__name md-title" ng-bind="::vm.search.supplier"></h2>
					<p class="supplier-listing__info md-subhead">Spend £20 for FREE Delivery</p>
				</div>
				<ul class="supplier-listing__products">
					<li product-thumb product="hit" basket="true" ng-repeat="hit in vm.hits track by hit.objectID"></li>
				</ul>
			</div>
		</main>
	</div>
</div>
