<div class="content-wrap">
	<div layout="row" layout-margin>
		<div class="breadcrumbs" ng-controller="BreadcrumbsController as vm">
			<span ng-repeat="crumb in vm.breadcrumbs track by crumb.href">
				<span ng-if="::!$last">
					<a class="breadcrumbs__crumb" ng-href="{{ ::crumb.href }}" ng-bind="::crumb.name"></a>
					<span class="breadcrumbs__spacer">›</span>
				</span>
				<span ng-if="::$last">
					<span class="breadcrumbs__crumb--final" ng-bind="::crumb.name"></span>
					<a class="breadcrumbs__remove" ng-href="{{ vm.breadcrumbs[$index - 1].href }}">&times;</a>
				</span>
			</span>
		</div>
	</div>

	<div layout="row" flex>
		<aside class="md-whiteframe-z1" ui-view="side" layout-margin></aside>
		<main ui-view="main" flex layout-margin></main>
	</div>
</div>
