<div class="content-wrap">
	<div class="breadcrumbs" ng-controller="BreadcrumbsController as vm" layout-margin>
		<span ng-repeat="crumb in vm.breadcrumbs track by crumb.href">
			<span ng-if="::!$last">
				<a ng-href="{{ ::crumb.href }}" ng-bind="::crumb.name"></a> &gt;
			</span>
			<span ng-if="::$last">
				<span ng-bind="::crumb.name"></span>
				<a ng-href="{{ vm.breadcrumbs[$index - 1].href }}">[x]</a>
			</span>
		</span>
	</div>

	<div layout="row" flex>
		<aside class="md-whiteframe-z1" ui-view="side" layout-margin></aside>
		<main ui-view="main" flex layout-margin></main>
	</div>
</div>
